<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="strconn" connectionString="Data Source=Localhost;Password=user;Persist Security Info=True;User ID=user;;" />
  </connectionStrings>
  <system.net>
    <mailSettings>
      <smtp from="mail@mail.com.br">
        <network host="host.mail.br" port="25" defaultCredentials="true" userName="user"/>
      </smtp>
    </mailSettings>
  </system.net>
</configuration>